<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>fail</title>
    <link rel="stylesheet" type="text/css" href='/static/fail.css'>
</head>

<body>
    <div class="header">
        <div class="btn1">
            <a href="/new"><img src="/static/write_icon.png" width="22px" style="margin:9px 0 0 13px"></a>
        </div>
        <div class="search">
            <input type="text" class="searchbar" placeholder="Search">
        </div>
        <div class="btn2"><img src="/static/search_icon.png" width="22px" style="margin:9px 13px 0 0"></div>
    </div>
    <div class="container">
        <div class="form_box">
            <h3>비밀번호가 틀렸습니다.</h3>
            <a href="javascript:history.back()">뒤로가기</a>
        </div>
    </div>
    <div class="footer">
        <div class="tab1"><img src="/static/feed_icon.png" width="22px" style="margin-top: 15px"></div>
        <div class="tab2"><img src="/static/person_icon.png" width="20px" style="margin-top: 14px"></div>
        <div class="tab3"><img src="/static/globe_icon.png" width="20px" style="margin-top: 14px"></div>
        <div class="tab4"><img src="/static/etc_icon.png" width="20px" style="margin-top: 14px"></div>
    </div>
</body>

</html>