<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>facebook</title>

    <style type="text/css">
        body {
            margin: 0;
            padding: 0;
        }
        
        .header {
            text-align: center;
            background-color: #295683;
        }
        
        .container {
            color: #295683;
            font-size: large;
        }
    </style>
</head>

<body>
    <div class="all">
        <div class="header">
            <img src="/static/insta.png" />
        </div>
        <div class="container">
            <div class="title"> My dog, Mint</div>
            <div><img src="/static/mint.jpg" /></div>
            <div>♥ 100 likes</div>
        </div>
    </div>

</body>

</html>